---
import GameCard from "./GameCard.astro";
import SectionTitle from "./SectionTitle.astro";
---

<section class="min-h-screen">
  <SectionTitle title="Games" />
  <div id="game-cards-container" class="flex justify-center">
    <GameCard
      title="Rock Paper Scissors Rock Paper Scissors Rock Paper Scissors"
      image="/images/rock-paper-scissors-image.png"
      url="https://horrorgamedev.itch.io/rock-paper-scissors"
    />
  </div>
</section>
