---
import SocialButton from "./SocialButton.astro";
---

<section class="min-h-screen pt-72">
  <div class="flex flex-col gap-4">
    <h1 class="title text-center text-5xl font-bold">
      H<span class="text-gray-500">O</span>RR<span class="text-gray-500">O</span
      >R GAMES<span class="text-red-500">.</span>
    </h1>
    <p class="subtitle text-center">Crafting Terrifying Experiences</p>
    <div class="flex gap-2 justify-center">
      <SocialButton
        title="Itch IO"
        icon="/images/icons/itch-io.svg"
        url="https://hrrrgames.itch.io/"
      />
      <SocialButton
        title="Facebook"
        icon="/images/icons/facebook.svg"
        url="https://www.facebook.com/profile.php?id=100094542440437"
      />
      <SocialButton
        title="Youtube"
        icon="/images/icons/youtube.svg"
        url="https://www.youtube.com/channel/UCFtgw66FLcKksf93TKseOnw"
      />
    </div>
  </div>
</section>
